.color-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  padding: 1em;
  margin: 0.5em;
  border-radius: 8px;
  background-color: var(--note-primary2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.color-container:hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.color-item {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.color-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
