.book-edit {
  background-color: var(--clr2bg);
  padding: 1.5rem;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-edit input,
.book-edit textarea,
.book-edit select {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--gray2);
}

.book-edit button {
  background-color: var(--clr2);
}

.book-edit button:hover {
  background-color: var(--clr1);
}
