.star-rating {
  direction: rtl;
  display: inline-block;
  font-size: 20px;
}

.star-rating input {
  display: none;
}

.star-rating label {
  font-size: 2rem;
  color: lightgray;
  cursor: pointer;
}

.star-rating input:checked ~ label {
  color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.filled-star {
  color: gold;
}

.empty-star {
  color: lightgray;
}
